/*@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');*/

@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

.card {
    position: absolute;
    width: 360px;
    height: 480px;
    margin-top: 10%;
    margin-left: 35%;



    text-align: center;
    font-family: 'cwTeXKai';
    /* font-family: 'Great Vibes'; */
    font-size: 60px;
    word-wrap: break-word;
    background: #cc0000;

    perspective: 200px;
    -webkit-transform-style: preserve-3d;
}

.title {
    margin-top: 30%;
}

#c1{
    z-index: 2;
    box-shadow: -2px 4px 20px;
    transform-origin: 0 100%;
}

.hovered, #c1:active {
    background: #aa0000;
    transition: all 1s ease-out;
    /* transform: rotateY(-130deg); */
    -webkit-transform: rotateY(-130deg);
    -webkit-transform-style: preserve-3d;
    box-shadow: 35px 4px 40px;

}

#c2 {
    background: #cc0000;

    box-shadow: -1px 2px 20px;
    font-size: 40px;
}

#stamp {
    width: 100px;
    top: 100px;
    z-index: 4;
}
